 <div class="container"> 
  
  <% @quizzs.each do |quizz| %>
    <%= link_to quizz , class:"quizz-card-link" do %>
      <div class="quizz-card">
        <h1 class="quizz-title"><%= quizz.name %></h1>
        <h3 class="status"><%= quizz.attempted_by_user(@user) %></h3>
        <h2 class="difficulty"><%= quizz.difficulty %></h2>
        
        <div class="category-tag">
          <h3><%= quizz.categorie %></h3>
        </div>
      </div>
    <% end %>  
  <% end %>
  
 </div>