<div class="container">
  <div class="quizz-window">
    <div class="quizz-screen">
      <h1 class="quizz-intro"> Hello <%=@user.username %></h1>
      <h2 class="quizz-explanation">This quizz is <%= @number_of_questions %> questions long, only one answer is possible for each question</h2>
    </div>
    <div class="quizz-propositions">
      <form action=<%=@next_question_url%> method="GET">
        <% @propositions_test.each do |prop| %>
          <input type="radio" name=<%=prop%> id=<%=prop%>>
          <label for=<%=prop%>><%=prop%></label>
        <% end %>
        <input type="submit" value="submit answer">
      </form>
    </div>
  </div>
</div>
