<div class="container">
  <%# Three cases possible here :  %>
    <%# this quizz has already been attempted by user @status == "attempted" %>
    <%# this quizz has been started by user @status == "started"  %>
    <%# this quizz have not been attempted yet @status == "not-started"  %>
  <% if @status == "attempted" %>
      <%# first case %>
      <div class="quizz-window">
        <div class="quizz-screen">
          <h2 class="quizz-explanation">Vous avez déja passé ce test</h2>
          <p class="quizz-submission-date">Vous l'avais passé le <%= @submission_date %></p>
          <p>Votre était : <%= number_to_percentage(@score*100, precision: 0) %></p>
        </div>
        <div class="quizz-propositions">
          <form action=<%=@next_question_url%> method="GET">
            <input type="submit" value="go back to quizzes">
          </form>
        </div>
      </div>
    <% elsif @status == "started" %>
      <%# second case %>
      <div class="quizz-window">
          <div class="quizz-screen">
            <h2 class="quizz-explanation">Vous avez commencé ce test</h2>
          </div>
          <div class="quizz-propositions">
            <form action=<%=@next_question_url%> method="GET">
              <input type="submit" value="Reprendre le test">
            </form>
          </div>
        </div>
    <% else %>
    <%# last case %>
      <div class="quizz-window">
          <div class="quizz-screen">
            <h2 class="quizz-explanation">Pret pour ce nouveau quizz ?</h2>
            <h3 class="quizz-guideline">Ce quizz comporte <%= @number_of_questions %> questions</h1>
          </div>
          <div class="quizz-propositions">
            <p class="form-guide-lines">Seul une réponse est possible par question</p>
            <form action=<%=@next_question_url%> method="GET" class="propositions">
              <% @propositions_test.each do |prop| %>
                <input type="radio" name=<%=prop%> id=<%=prop%>>
                <label for=<%=prop%>><%=prop%></label>
              <% end %>
              <input type="submit" value="Ok, c'est parti">
            </form>
          </div>
        </div>    
  <% end %>
  






</div>
